<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaoWBQVG5qaP6Gz0qffx3c9NZQ3OAznAE</string>
	<key>GCM_SENDER_ID</key>
	<string>107866913357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeforany.workoutFitness</string>
	<key>PROJECT_ID</key>
	<string>my-workout-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>my-workout-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107866913357:ios:80a2c3d4220580010e7a04</string>
</dict>
</plist>